# Prediction of all parameters on observed data
### Selected attributes:
* inclination - inc
* mass ration - q
* primary potential - omega 1
* secondary potential - omega 2
* temperature ratio - t1_t2

## Detached observed
### Model used: norm_detached_selection

In [1]:
# Libraries
import numpy as np
import pandas as pd
import math
import matplotlib.pyplot as plt
from keras.models import load_model
from ast import literal_eval
from random import randint
from sklearn.preprocessing import MinMaxScaler

In [2]:
# Detached data loading
data_det = pd.read_csv("observed\observed_det.csv")
data_det.head()

,Unnamed: 0,q,inc,omega1,omega2,T1,T2,P,Type,Spot,Ref,name,filter,curve,t1_t2,primary__equivalent_radius,secondary__equivalent_radius
0,0,0.484,76.3,4.200,2.850,8360.0,5057.0,1.146065,detached,N,https://iopscience.iop.org/article/10.3847/000...,ATPeg,V,"[0.4986, 0.4955, 0.4943, 0.4956, 0.4995, 0.505...",1.653154,0.27175,0.316676
1,1,0.484,76.3,4.200,2.850,8360.0,5057.0,1.146065,detached,N,https://iopscience.iop.org/article/10.3847/000...,ATPeg,I,"[0.472, 0.4675, 0.4655, 0.4667, 0.4711, 0.4781...",1.653154,0.27175,0.316676
2,2,0.484,76.3,4.200,2.850,8360.0,5057.0,1.146065,detached,N,https://iopscience.iop.org/article/10.3847/000...,ATPeg,R,"[0.5416, 0.5392, 0.5384, 0.5393, 0.5421, 0.546...",1.653154,0.27175,0.316676
3,3,0.484,76.3,4.200,2.850,8360.0,5057.0,1.146065,detached,N,https://iopscience.iop.org/article/10.3847/000...,ATPeg,B,"[0.5167, 0.5152, 0.5154, 0.5174, 0.521, 0.5263...",1.653154,0.27175,0.316676
4,4,0.366,88.7,2.859,2.608,5940.0,3450.0,0.568990,detached,Y,https://academic.oup.com/pasj/article/70/4/72/...,BUVul,V,"[0.4113, 0.4087, 0.4076, 0.4083, 0.4108, 0.415...",1.721739,0.41515,0.295522

In [3]:
data_det = data_det.drop(columns=["Unnamed: 0"])
data_det.head()

,q,inc,omega1,omega2,T1,T2,P,Type,Spot,Ref,name,filter,curve,t1_t2,primary__equivalent_radius,secondary__equivalent_radius
0,0.484,76.3,4.200,2.850,8360.0,5057.0,1.146065,detached,N,https://iopscience.iop.org/article/10.3847/000...,ATPeg,V,"[0.4986, 0.4955, 0.4943, 0.4956, 0.4995, 0.505...",1.653154,0.27175,0.316676
1,0.484,76.3,4.200,2.850,8360.0,5057.0,1.146065,detached,N,https://iopscience.iop.org/article/10.3847/000...,ATPeg,I,"[0.472, 0.4675, 0.4655, 0.4667, 0.4711, 0.4781...",1.653154,0.27175,0.316676
2,0.484,76.3,4.200,2.850,8360.0,5057.0,1.146065,detached,N,https://iopscience.iop.org/article/10.3847/000...,ATPeg,R,"[0.5416, 0.5392, 0.5384, 0.5393, 0.5421, 0.546...",1.653154,0.27175,0.316676
3,0.484,76.3,4.200,2.850,8360.0,5057.0,1.146065,detached,N,https://iopscience.iop.org/article/10.3847/000...,ATPeg,B,"[0.5167, 0.5152, 0.5154, 0.5174, 0.521, 0.5263...",1.653154,0.27175,0.316676
4,0.366,88.7,2.859,2.608,5940.0,3450.0,0.568990,detached,Y,https://academic.oup.com/pasj/article/70/4/72/...,BUVul,V,"[0.4113, 0.4087, 0.4076, 0.4083, 0.4108, 0.415...",1.721739,0.41515,0.295522

In [4]:
print("Number of records of observed detached data: ", len(data_det))

Number of records of observed detached data:  25

In [5]:
# Curves loading
X = []
for row in data_det["curve"]:
    processed_curve = literal_eval(row)
    X.append(processed_curve)
X = np.array(X, dtype = np.float32)

In [6]:
list(data_det.columns)

['q',
 'inc',
 'omega1',
 'omega2',
 'T1',
 'T2',
 'P',
 'Type',
 'Spot',
 'Ref',
 'name',
 'filter',
 'curve',
 't1_t2',
 'primary__equivalent_radius',
 'secondary__equivalent_radius']

In [7]:
y = np.array(data_det[[
    "inc",
    "q",
    "omega1",
    "omega2",
    "t1_t2"]])

In [14]:
model = load_model("models/norm_detached_selection.hdf5")

In [15]:
pred_det = model.predict(X)

In [17]:
# MinMax Scaler
scaler = MinMaxScaler()
y_minmax_scaled = scaler.fit_transform(y)
pred_denorm = scaler.inverse_transform(pred_det)

In [18]:
pred_denorm_det_df = pd.DataFrame(pred_denorm,
                        columns = [
                        "inc",
                        "q",
                        "omega1",
                        "omega2",
                        "t1_t2"])
pred_denorm_det_df.head()

         inc         q    omega1    omega2     t1_t2
0  85.589706  0.201691  2.664844  2.087932  1.078887
1  86.142136  0.213269  2.629898  2.088755  1.064018
2  85.722664  0.214549  2.734998  2.093962  1.089524
3  85.610428  0.206843  2.691837  2.091188  1.090797
4  83.295250  0.290107  2.806057  2.091599  1.149130

In [19]:
# Predicted mean values of selected attributes
pred_mean = pred_denorm_det_df.mean(axis=0)
pred_mean

inc       86.258858
q          0.241861
omega1     2.698353
omega2     2.108686
t1_t2      1.122399
dtype: float32

In [20]:
true_det_df = pd.DataFrame(y,
                        columns = [
                        "inc",
                        "q",
                        "omega1",
                        "omega2",
                        "t1_t2"])
true_det_df.head()

    inc      q  omega1  omega2     t1_t2
0  76.3  0.484   4.200   2.850  1.653154
1  76.3  0.484   4.200   2.850  1.653154
2  76.3  0.484   4.200   2.850  1.653154
3  76.3  0.484   4.200   2.850  1.653154
4  88.7  0.366   2.859   2.608  1.721739

In [21]:
true_mean = true_det_df.mean(axis=0)
true_mean

inc       83.460000
q          0.485440
omega1     4.397080
omega2     3.445040
t1_t2      1.516795
dtype: float64

In [22]:
eval_pred = pd.DataFrame({'attribute': true_mean.index,
            'avg_true': true_mean.values,
            'avg_pred': pred_mean.values,
            'MAE': abs(true_mean.values - pred_mean.values)})
eval_pred

  attribute   avg_true   avg_pred       MAE
0       inc  83.460000  86.258858  2.798858
1         q   0.485440   0.241861  0.243579
2    omega1   4.397080   2.698353  1.698727
3    omega2   3.445040   2.108686  1.336354
4     t1_t2   1.516795   1.122399  0.394396

## Overcontact observed
### Model used: norm_overcontact_selection

In [25]:
# Overcontact data loading
data_over = pd.read_csv("observed\observed_over.csv")
data_over.head()

,Unnamed: 0,q,inc,omega1,omega2,T1,T2,P,Type,Spot,Ref,name,filter,curve,t1_t2,primary__equivalent_radius,secondary__equivalent_radius
0,0,0.169,75.46,2.080,2.080,6215.0,6141.0,0.494108,overcontact,N,http://liber.onu.edu.ua/pdf/astro/all/OAP_14/0...,AH Aur,V,"[0.6897, 0.6901, 0.6904, 0.691, 0.6916, 0.6925...",1.01205,0.565838,0.271593
1,1,0.169,75.46,2.080,2.080,6215.0,6141.0,0.494108,overcontact,N,http://liber.onu.edu.ua/pdf/astro/all/OAP_14/0...,AH Aur,B,"[0.656, 0.6549, 0.6537, 0.6525, 0.6516, 0.6513...",1.01205,0.565838,0.271593
2,2,0.270,81.70,2.357,2.357,6500.0,6180.0,0.421522,overcontact,Y,https://iopscience.iop.org/article/10.1088/000...,AKHer,V,"[0.6688, 0.6646, 0.6608, 0.6572, 0.6539, 0.651...",1.05178,0.510294,0.286772
3,3,0.270,81.70,2.357,2.357,6500.0,6180.0,0.421522,overcontact,Y,https://iopscience.iop.org/article/10.1088/000...,AKHer,I,"[0.6932, 0.6884, 0.6841, 0.6804, 0.6773, 0.674...",1.05178,0.510294,0.286772
4,4,0.270,81.70,2.357,2.357,6500.0,6180.0,0.421522,overcontact,Y,https://iopscience.iop.org/article/10.1088/000...,AKHer,R,"[0.6524, 0.6518, 0.652, 0.6532, 0.6554, 0.6582...",1.05178,0.510294,0.286772

In [26]:
data_over = data_over.drop(columns=["Unnamed: 0"])
data_over.head()

,q,inc,omega1,omega2,T1,T2,P,Type,Spot,Ref,name,filter,curve,t1_t2,primary__equivalent_radius,secondary__equivalent_radius
0,0.169,75.46,2.080,2.080,6215.0,6141.0,0.494108,overcontact,N,http://liber.onu.edu.ua/pdf/astro/all/OAP_14/0...,AH Aur,V,"[0.6897, 0.6901, 0.6904, 0.691, 0.6916, 0.6925...",1.01205,0.565838,0.271593
1,0.169,75.46,2.080,2.080,6215.0,6141.0,0.494108,overcontact,N,http://liber.onu.edu.ua/pdf/astro/all/OAP_14/0...,AH Aur,B,"[0.656, 0.6549, 0.6537, 0.6525, 0.6516, 0.6513...",1.01205,0.565838,0.271593
2,0.270,81.70,2.357,2.357,6500.0,6180.0,0.421522,overcontact,Y,https://iopscience.iop.org/article/10.1088/000...,AKHer,V,"[0.6688, 0.6646, 0.6608, 0.6572, 0.6539, 0.651...",1.05178,0.510294,0.286772
3,0.270,81.70,2.357,2.357,6500.0,6180.0,0.421522,overcontact,Y,https://iopscience.iop.org/article/10.1088/000...,AKHer,I,"[0.6932, 0.6884, 0.6841, 0.6804, 0.6773, 0.674...",1.05178,0.510294,0.286772
4,0.270,81.70,2.357,2.357,6500.0,6180.0,0.421522,overcontact,Y,https://iopscience.iop.org/article/10.1088/000...,AKHer,R,"[0.6524, 0.6518, 0.652, 0.6532, 0.6554, 0.6582...",1.05178,0.510294,0.286772

In [27]:
print("Number of records of observed overcontact data: ", len(data_over))

Number of records of observed overcontact data:  43

In [28]:
# Curves loading
X = []
for row in data_over["curve"]:
    processed_curve = literal_eval(row)
    X.append(processed_curve)
X = np.array(X, dtype = np.float32)

In [29]:
list(data_over.columns)

['q',
 'inc',
 'omega1',
 'omega2',
 'T1',
 'T2',
 'P',
 'Type',
 'Spot',
 'Ref',
 'name',
 'filter',
 'curve',
 't1_t2',
 'primary__equivalent_radius',
 'secondary__equivalent_radius']

In [30]:
y = np.array(data_over[[
    "inc",
    "q",
    "omega1",
    "omega2",
    "t1_t2"]])

In [31]:
model = load_model("models/norm_overcontact_selection.hdf5")

In [32]:
pred_over = model.predict(X)

In [33]:
# MinMax Scaler
scaler = MinMaxScaler()
y_minmax_scaled = scaler.fit_transform(y)
pred_denorm = scaler.inverse_transform(pred_over)

In [34]:
pred_denorm_over_df = pd.DataFrame(pred_denorm,
                        columns = [
                        "inc",
                        "q",
                        "omega1",
                        "omega2",
                        "t1_t2"])
pred_denorm_over_df.head()

         inc         q    omega1    omega2     t1_t2
0  79.606049  0.255079  2.290690  2.295163  1.017947
1  78.161240  0.233262  2.258338  2.259529  1.046453
2  76.398155  2.828499  6.177999  6.183016  1.074864
3  78.480515  2.800054  6.210745  6.234910  1.028877
4  79.815918  1.392867  4.191960  4.194980  1.054676

In [35]:
# Predicted mean values of selected attributes
pred_mean = pred_denorm_over_df.mean(axis=0)
pred_mean

inc       79.351662
q          1.012251
omega1     3.528301
omega2     3.533222
t1_t2      1.007144
dtype: float32

In [36]:
true_over_df = pd.DataFrame(y,
                        columns = [
                        "inc",
                        "q",
                        "omega1",
                        "omega2",
                        "t1_t2"])
true_over_df.head()

     inc      q  omega1  omega2    t1_t2
0  75.46  0.169   2.080   2.080  1.01205
1  75.46  0.169   2.080   2.080  1.01205
2  81.70  0.270   2.357   2.357  1.05178
3  81.70  0.270   2.357   2.357  1.05178
4  81.70  0.270   2.357   2.357  1.05178

In [37]:
true_mean = true_over_df.mean(axis=0)
true_mean

inc       76.091860
q          0.665186
omega1     2.976698
omega2     2.976698
t1_t2      1.009270
dtype: float64

In [38]:
eval_pred = pd.DataFrame({'attribute': true_mean.index,
            'avg_true': true_mean.values,
            'avg_pred': pred_mean.values,
            'MAE': abs(true_mean.values - pred_mean.values)})
eval_pred

  attribute   avg_true   avg_pred       MAE
0       inc  76.091860  79.351662  3.259801
1         q   0.665186   1.012251  0.347064
2    omega1   2.976698   3.528301  0.551603
3    omega2   2.976698   3.533222  0.556525
4     t1_t2   1.009270   1.007144  0.002127